@font-face {
    font-family: 'mine';
    src: url(../fonts/minecraft.ttf);
}

body{
    font-family: 'mine' ;
}

.kareir, .skills, .work, .ya{
    margin-top: 200px;
}

.carousel-item img {
    display: block;
    width: 600px;
    height: 700px !important;
    margin: 0 auto;
  }

  .fot2 img{
    object-fit: contain;
    object-position: 50% 50%;
  }
  .fot2{
    background-color: white;
  }

  @media (max-width:768px) {
    .carousel-item{
      height: 400px !important;
    }
    .carousel-item img {
      display: block;
      margin: 0 auto;
      height: 100% !important;
    }

  }

  @media (max-width:576px) {
    .carousel-item{
      height: 300px !important;
    }
    .carousel-item img {
      display: block;
      margin: 0 auto;
      height: 100% !important;
    }
  }